@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: "Noto Serif TC", serif;
  background: url(../img/bg_texture.jpg) center top repeat-y;
  background-size: contain;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #231815;
  font-family: "Noto Serif TC", serif;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 1080px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

h2 {
  font-size: 32px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  line-height: 160%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: justify;
  margin-top: 20px;
}

@media (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

input, button, select, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-weight: 500;
}

.popup .popup_content.popup_img {
  width: 1200px;
  height: 820px;
  background: none;
}

@media (max-width: 1280px) {
  .popup .popup_content.popup_img {
    width: calc(100% - 80px);
    height: auto;
    max-height: 50vh;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .popup .popup_content.popup_img {
    width: calc(100% - 40px);
  }
}

.popup .popup_content.popup_img h5 {
  margin-bottom: 10px;
  color: #fff;
}

.popup .popup_content.popup_img p {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  display: block;
}

.popup_close {
  position: absolute;
  z-index: 200;
  right: 20px;
  top: 20px;
}

.popup_close span {
  color: #fff;
  font-size: 32px;
}

.popup_close:hover {
  cursor: pointer;
}

span.animate {
  margin-right: -4px;
}

span.animate_e {
  margin-right: -4px;
}

#page_navigation {
  text-align: center;
  margin: 80px 0 0;
}

#page_navigation > div {
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#page_navigation > div a {
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#page_navigation > div a span {
  vertical-align: middle;
}

#page_navigation .page_link {
  width: 36px;
  border-radius: 36px;
  margin: 0 6px;
}

#page_navigation .page_link.active_page, #page_navigation .page_link:hover {
  background: #231815;
}

#page_navigation .page_link.active_page a, #page_navigation .page_link:hover a {
  color: #fff;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1080px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top .top_kv {
  width: calc(100% - 360px);
  padding: 100px 0 0;
  position: relative;
}

@media (max-width: 1280px) {
  .top .top_kv {
    width: calc(100% - 280px);
  }
}

@media (max-width: 1080px) {
  .top .top_kv {
    width: 100%;
    padding-top: 0;
  }
}

.top .top_kv .photo_outer {
  overflow: hidden;
}

.top .top_kv .photo {
  width: auto;
  height: 1080px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top .top_kv .photo.pc {
  display: block;
}

.top .top_kv .photo.mob {
  display: none;
}

@media (max-width: 1080px) {
  .top .top_kv .photo {
    height: 80vh;
  }
  .top .top_kv .photo.pc {
    display: none;
  }
  .top .top_kv .photo.mob {
    display: block;
  }
}

.top .top_kv .title {
  width: 40px;
  position: absolute;
  right: 40px;
  top: 160px;
  z-index: 2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 32px;
  line-height: 140%;
  font-weight: 600;
}

@media (max-width: 1080px) {
  .top .top_kv .title {
    right: 60px;
    top: 60px;
  }
}

.top .top_kv .title span {
  background: #fff;
  display: block;
  float: left;
  padding: 8px 0;
}

.top .top_kv .title hr {
  border: 0;
  margin: 8px;
}

header {
  width: 360px;
  position: relative;
  padding: 60px 80px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1280px) {
  header {
    width: 280px;
  }
}

@media (max-width: 1080px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    overflow: visible;
    padding: 40px 24px;
  }
}

header:before {
  content: "";
  width: 130%;
  height: calc(100% - 100px);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: url(../img/menu_bg.png) center center no-repeat;
  background-size: cover;
}

@media (max-width: 1080px) {
  header:before {
    width: 100%;
    height: 80%;
  }
}

header .logo {
  width: 140px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1080px) {
  header .logo {
    width: 160px;
  }
}

header .logo a .pc {
  display: block;
}

header .logo a .mob {
  display: none;
}

@media (max-width: 1080px) {
  header .logo a .pc {
    display: none;
  }
  header .logo a .mob {
    display: block;
  }
}

header .nav_box {
  margin-top: 140px;
  display: block;
}

@media (max-width: 1080px) {
  header .nav_box {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background: url(../img/menu_bg.png) center center no-repeat;
    background-size: cover;
    padding: 100px 0;
  }
}

header .nav_box ul {
  width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav_box ul li {
  display: inline-block;
  position: relative;
}

@media (max-width: 1080px) {
  header .nav_box ul li {
    text-align: center;
  }
}

header .nav_box ul li a {
  color: #fff;
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 3px;
  padding: 16px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
}

@media (max-width: 1080px) {
  header .nav_box ul li a {
    display: none;
  }
}

header .nav_box ul li:before {
  content: "";
  width: 0px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .nav_box ul li:hover a {
  padding-left: 52px;
  letter-spacing: 6px;
}

@media (max-width: 1080px) {
  header .nav_box ul li:hover a {
    padding-left: 0;
    letter-spacing: 3px;
  }
}

header .nav_box ul li:hover:before {
  width: 40px;
}

@media (max-width: 1080px) {
  header .nav_box ul li:hover:before {
    display: none;
  }
}

header #menu-toggle {
  background-color: transparent;
  padding: 0;
  display: none;
  z-index: 12;
}

@media (max-width: 1080px) {
  header #menu-toggle {
    display: block;
  }
}

header #menu-toggle span {
  display: block;
  background: #fff;
  width: 36px;
  height: 4px;
  border-radius: 10px;
  margin: 8px 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 800px) {
  header #menu-toggle span {
    width: 30px;
  }
}

header #menu-toggle:hover {
  cursor: pointer;
}

header #menu-toggle.active span:nth-child(2) {
  background: transparent !important;
}

header #menu-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(-220deg);
          transform: rotate(-220deg);
  margin-top: 10px;
}

header #menu-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  margin-top: -24px;
}

header #menu-toggle.active h6 {
  opacity: 0;
  visibility: hidden;
}

.casepage header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: visible;
  padding: 60px 80px;
}

@media (max-width: 1080px) {
  .casepage header {
    padding: 40px 24px;
  }
}

.casepage header:before {
  width: 100%;
  height: 80%;
  background: none;
}

.casepage header .logo {
  width: 180px;
}

.casepage header .logo a .pc {
  display: none !important;
}

.casepage header .logo a .mob {
  display: block !important;
}

@media (max-width: 1080px) {
  .casepage header .logo a .pc {
    display: none;
  }
  .casepage header .logo a .mob {
    display: block;
  }
}

.casepage header .nav_box {
  display: none;
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: url(../img/menu_bg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.casepage header .nav_box ul li {
  text-align: center;
}

.casepage header .nav_box ul li a {
  display: none;
}

.casepage header .nav_box ul li:hover a {
  padding-left: 0;
  letter-spacing: 3px;
}

.casepage header .nav_box ul li:hover:before {
  display: none;
}

.casepage header #menu-toggle {
  display: block;
}

.newspage header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: visible;
  padding: 60px 80px;
}

@media (max-width: 1080px) {
  .newspage header {
    padding: 40px 24px;
  }
}

.newspage header:before {
  width: 100%;
  height: 100%;
}

.newspage header .logo {
  width: 180px;
}

.newspage header .logo a .pc {
  display: none !important;
}

.newspage header .logo a .mob {
  display: block !important;
}

@media (max-width: 1080px) {
  .newspage header .logo a .pc {
    display: none;
  }
  .newspage header .logo a .mob {
    display: block;
  }
}

.newspage header .nav_box {
  display: none;
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: url(../img/menu_bg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.newspage header .nav_box ul li {
  text-align: center;
}

.newspage header .nav_box ul li a {
  display: none;
}

.newspage header .nav_box ul li:hover a {
  padding-left: 0;
  letter-spacing: 3px;
}

.newspage header .nav_box ul li:hover:before {
  display: none;
}

.newspage header #menu-toggle {
  display: block;
}

footer {
  background: #0A3F73;
  padding: 60px 0;
}

footer .logo {
  width: 240px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  footer .logo {
    width: 260px;
  }
}

footer nav {
  margin-top: 40px;
}

footer nav ul {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 800px) {
  footer nav ul {
    width: 96%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer nav ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 800px) {
  footer nav ul li {
    margin: 0 10px;
  }
}

footer nav ul li a {
  color: #fff;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 4px;
}

@media (max-width: 640px) {
  footer nav ul li a {
    line-height: 2;
  }
}

footer .copyright {
  text-align: center;
  color: #B9B9BA;
  margin-top: 80px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.theme {
  padding: 220px 0 120px;
}

@media (max-width: 800px) {
  .theme {
    padding: 160px 0;
  }
}

.theme .container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .theme .container {
    padding: 0 40px;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .theme .container {
    padding: 0 20px;
  }
}

.theme .topic {
  text-align: center;
}

.theme .topic h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 3px;
}

@media (max-width: 640px) {
  .theme .topic h3 {
    font-size: 24px;
  }
}

.theme .topic h4 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: 2px;
}

@media (max-width: 640px) {
  .theme .topic h4 {
    font-size: 28px;
  }
}

.theme .filter {
  text-align: center;
  margin-top: 80px;
}

.theme .case {
  margin-top: 80px;
}

.theme .case .pagingBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.theme .case .pagingBox .item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.theme .case .pagingBox .item:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(57, 54, 51, 0.8);
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .case .pagingBox .item:after {
  content: "MORE ...";
  position: absolute;
  margin: auto;
  top: -200%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .case .pagingBox .item .title {
  font-size: 36px;
  height: 36px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 800px) {
  .theme .case .pagingBox .item .title {
    font-size: 28px;
  }
}

.theme .case .pagingBox .item .title.classic_title {
  height: 80px;
}

.theme .case .pagingBox .item .title span {
  display: block;
  font-size: 20px;
  color: #fff;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.theme .case .pagingBox .item:hover {
  cursor: pointer;
}

.theme .case .pagingBox .item:hover:before {
  opacity: 0;
  visibility: hidden;
}

.theme .case .pagingBox .item:hover:after {
  top: 0;
  opacity: 1;
}

.theme .case .pagingBox .item:hover .title {
  opacity: 0;
  visibility: hidden;
}

.theme.theme_promote {
  background: url(../img/promote_bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.theme.theme_promote .case .pagingBox .item {
  width: calc((100% - 40px) / 2);
}

.theme.theme_promote .case .pagingBox .item:nth-child(even) {
  margin-left: 40px;
}

@media (max-width: 960px) {
  .theme.theme_promote .case .pagingBox .item {
    width: 100%;
  }
  .theme.theme_promote .case .pagingBox .item:nth-child(even) {
    margin-left: 0;
  }
}

.theme.theme_classic {
  background: url(../img/classic_bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.theme.theme_classic .case .pagingBox .item {
  width: calc((100% - 80px) / 3);
  margin-left: 40px;
}

.theme.theme_classic .case .pagingBox .item:nth-child(3n+1) {
  margin-left: 0;
}

@media (max-width: 960px) {
  .theme.theme_classic .case .pagingBox .item {
    width: calc((100% - 40px) / 2);
  }
  .theme.theme_classic .case .pagingBox .item:nth-child(3n+1) {
    margin-left: 40px;
  }
  .theme.theme_classic .case .pagingBox .item:nth-child(odd) {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .theme.theme_classic .case .pagingBox .item {
    width: 100%;
  }
  .theme.theme_classic .case .pagingBox .item:nth-child(even) {
    margin-left: 0;
  }
}

.theme.theme_progress {
  background: url(../img/progress_bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.theme.theme_progress .case .pagingBox .item {
  width: calc((100% - 40px) / 2);
}

.theme.theme_progress .case .pagingBox .item:nth-child(even) {
  margin-left: 40px;
}

@media (max-width: 960px) {
  .theme.theme_progress .case .pagingBox .item {
    width: 100%;
  }
  .theme.theme_progress .case .pagingBox .item:nth-child(even) {
    margin-left: 0;
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 180px;
  height: 40px;
}

@media (max-width: 960px) {
  .select {
    width: 156px;
  }
}

@media (max-width: 600px) {
  .select {
    width: 140px;
    display: block;
    margin: 0 auto;
  }
}

.select + .select {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .select + .select {
    margin: 20px auto 0;
  }
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #231815;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: inline;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #231815 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #231815 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover, .select-options li.is-selected {
  color: #C9A063;
  background: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}

.theme_casepage {
  padding: 0;
}

.theme_casepage .case_title {
  height: 80px;
  background: #F4F5F6;
}

@media (max-width: 600px) {
  .theme_casepage .case_title {
    height: auto;
    padding: 12px 0;
  }
}

.theme_casepage .case_title .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .theme_casepage .case_title .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.theme_casepage .case_title h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 32px;
  font-weight: 600;
}

.theme_casepage .case_title ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 40px;
}

@media (max-width: 600px) {
  .theme_casepage .case_title ul {
    margin-left: 0;
    margin-top: 12px;
  }
}

.theme_casepage .case_title ul li {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  border-left: 1px solid #000;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .theme_casepage .case_title ul li {
    padding: 0 12px;
  }
}

.theme_casepage .case_title ul li:first-child {
  border-left: 0;
  padding-left: 0;
}

.theme_casepage .case_content {
  margin-top: 80px;
}

.theme_casepage .case_content h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 2px;
}

.theme_casepage .case_content h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 2px;
}

.theme_casepage .case_content p {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.theme_casepage .case_content .photo {
  margin-top: 20px;
}

.theme_casepage .case_content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 960px) {
  .theme_casepage .case_content .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.theme_casepage .case_content .box .group + .group {
  margin-left: 20px;
}

@media (max-width: 960px) {
  .theme_casepage .case_content .box .group + .group {
    margin-left: 0;
  }
}

.theme_casepage .case_detail {
  background: #f4f5f6;
  margin-top: 80px;
  padding: 40px 120px 60px;
  overflow: hidden;
}

@media (max-width: 960px) {
  .theme_casepage .case_detail {
    padding: 40px 60px 60px;
  }
}

@media (max-width: 600px) {
  .theme_casepage .case_detail {
    padding: 40px 20px 60px;
  }
}

.theme_casepage .case_detail .title {
  width: 100%;
  float: left;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.theme_casepage .case_detail ul {
  width: calc((100% - 40px) / 2);
  float: left;
  margin-top: 40px;
}

@media (max-width: 960px) {
  .theme_casepage .case_detail ul {
    width: 100%;
  }
}

.theme_casepage .case_detail ul li span {
  font-size: 18px;
  line-height: 2.8;
  letter-spacing: 2px;
}

.theme_casepage .case_detail ul li span + span {
  margin-left: 20px;
}

.theme_casepage .case_detail ul li + li {
  border-top: 2px dotted #ccc;
}

.theme_casepage .case_detail ul + ul {
  margin-left: 40px;
}

@media (max-width: 960px) {
  .theme_casepage .case_detail ul + ul {
    margin-left: 0;
    margin-top: 0;
  }
  .theme_casepage .case_detail ul + ul li:first-child {
    border-top: 2px dotted #ccc;
  }
}

.theme_casepage .case_info {
  background: #393633;
  padding: 80px 0;
  margin-top: 80px;
}

@media (max-width: 1080px) {
  .theme_casepage .case_info {
    padding-top: 0;
    margin-top: 0;
  }
}

.theme_casepage .case_info .container {
  overflow: hidden;
}

@media (max-width: 1080px) {
  .theme_casepage .case_info .container {
    padding: 0;
  }
}

.theme_casepage .case_info .map {
  width: 50%;
  float: left;
}

@media (max-width: 1080px) {
  .theme_casepage .case_info .map {
    width: 100%;
  }
}

.theme_casepage .case_info .map iframe {
  width: 100%;
  height: 600px;
}

.theme_casepage .case_info .form {
  width: calc(50% - 60px);
  float: right;
}

@media (max-width: 1080px) {
  .theme_casepage .case_info .form {
    width: 100%;
    padding: 40px 40px 0;
  }
}

.theme_casepage .case_info .form .title {
  width: 100%;
  float: left;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

.theme_casepage .case_info .form .item {
  width: 100%;
  display: table;
}

.theme_casepage .case_info .form .item input, .theme_casepage .case_info .form .item select, .theme_casepage .case_info .form .item textarea {
  width: 100%;
  height: 52px;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 32px;
}

.theme_casepage .case_info .form .item textarea {
  width: 100%;
  height: 120px;
  resize: none;
  display: block;
}

.theme_casepage .case_info .form .item ::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 32px;
  color: #92867B;
  font-weight: 600;
}

.theme_casepage .case_info .form .item :-ms-input-placeholder {
  font-size: 22px;
  line-height: 32px;
  color: #92867B;
  font-weight: 600;
}

.theme_casepage .case_info .form .item ::-ms-input-placeholder {
  font-size: 22px;
  line-height: 32px;
  color: #92867B;
  font-weight: 600;
}

.theme_casepage .case_info .form .item ::placeholder {
  font-size: 22px;
  line-height: 32px;
  color: #92867B;
  font-weight: 600;
}

.theme_casepage .case_info .form .item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: #fff;
  padding: 0;
  margin-right: 10px;
  float: left;
}

.theme_casepage .case_info .form .item input[type="checkbox"]:checked {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.theme_casepage .case_info .form .item .checktxt {
  width: calc(100% - 40px);
  color: #fff;
  float: right;
}

.theme_casepage .case_info .form .item .checktxt a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.theme_casepage .case_info .form button {
  width: 300px;
  height: 52px;
  background: #C9A063;
  font-size: 30px;
  line-height: 30px;
  margin: 20px auto 0;
  display: block;
  font-weight: 600;
}

@media (max-width: 800px) {
  .theme_casepage .case_info .form button {
    width: 100%;
    float: left;
  }
}

.theme_casepage .case_info .form button:hover {
  cursor: pointer;
}

.popup .popup_img {
  width: auto;
  padding: 0 !important;
}

.popup .popup_img .content {
  margin: 0 auto;
}

.popup .popup_img .content h5 {
  color: #fff;
  font-size: 32px;
  line-height: 2;
  letter-spacing: 4px;
  font-weight: 600;
}

.popup .popup_img .content .photo {
  margin: 20px 0;
}

.popup .popup_img .content p {
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 2;
  letter-spacing: 4px;
  font-weight: 400;
}

.popup .popup_img .swiper-button-prev, .popup .popup_img .swiper-button-next {
  width: 60px;
  height: 60px;
  position: absolute;
  right: auto;
  top: 50%;
  left: 0;
  background: transparent;
  text-align: center;
}

.popup .popup_img .swiper-button-prev span, .popup .popup_img .swiper-button-next span {
  color: #fff;
  font-size: 36px;
  line-height: 60px;
}

.popup .popup_img .swiper-button-prev:after, .popup .popup_img .swiper-button-next:after {
  display: none;
}

.popup .popup_img .swiper-button-next {
  left: auto;
  right: 0;
}
/*# sourceMappingURL=cases.css.map */