footer{
    background: $primary-color;
    padding: 60px 0;
    .logo{
        width: 240px;
        margin: 0 auto;
        @media (max-width:640px){
            width: 260px;
        }
    }
    nav{
        margin-top: 40px;
        ul{
            width: 800px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            @media (max-width:800px){
                width: 96%;
                justify-content: center;
                flex-wrap: wrap;
            }
            li{
                display: inline-flex; 
                @media (max-width:800px){
                    margin: 0 10px;
                }
                a{
                    color: #fff;
                    font-size: 20px;
                    line-height: 2;
                    font-weight: 500;
                    letter-spacing: 4px;
                    @media (max-width:640px){                        
                        line-height: 2;
                    }
                }
            }
            li + li{
                // margin-left: 40px;
                @media (max-width:640px){
                    // margin-left: 0;
                }
            }
        }
    }
    .copyright{
        text-align: center;
        color: #B9B9BA;
        margin-top: 80px;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 1px;
    }
}