@import '_setting';
@import '_header';
@import '_footer';

.top{
    header{
        .nav_box{
            ul{
                .aboutus{
                    a{
                        padding-left: 52px;
                        letter-spacing: 6px;
                        @media (max-width:1080px){
                            padding-left: 0;
                            letter-spacing: 3px;
                        }
                    }
                    &:before{
                        width: 40px;
                        @media (max-width:1080px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.aboutus_frame{
    padding: 100px 0;
    position: relative;
    display: flex;
    align-items: center;  
    flex-direction: row-reverse;  
    @media (max-width: 1200px){
        flex-direction: column; 
    }
    .photo{
        width: calc(960/1920*100%);
        @media (max-width: 1200px){
            width: 70%;
        }
        @media (max-width: 800px){
            width: 90%;
        }
    }
    .content{
        width: calc(700/1920*100%);
        margin: 0 auto;
        @media (max-width: 1200px){
            width: 70%;
            margin-top: -40px;
        }
        @media (max-width: 800px){
            width: 80%;
            margin-top: -10px;
        }
        .title{
            width: 1080px;
            float: left;
            text-align: left;
            text-transform: uppercase;
            font-family: $font-en;
            font-size: 200px;
            line-height: 1;
            white-space: nowrap;
            position: relative;
            z-index: 2;
            color: $primary-color;
            margin-top: -15px;
            @media (max-width: 1440px){
                width: 840px;
                font-size: 160px;
            }
            @media (max-width: 1200px){
                width: 100%;
                font-size: 120px;
                text-align: left;
            }
            @media (max-width: 1080px){
                width: 100%;
                font-size: 100px;
                text-align: left;
            }
            @media (max-width: 640px){
                font-size: 80px;
            }
            @media (max-width: 520px){
                font-size: 15vw;
                margin-top: 0;
            }
        }
    }

    &.chairman{
        flex-direction: row; 
        background: $primary-color;
        @media (max-width: 1200px){
            flex-direction: column; 
        }
        .content{
            .title{
                float: right;
                text-align: right;
                color: #fff;
                @media (max-width: 1200px){
                    float: left;
                    text-align: left;
                }
            }
            h4{
                color: #fff;
            }
            h2{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
    }
}

