@import '_setting';
@import '_header';
@import '_footer';

.top{
    header{
        .nav_box{
            ul{
                .contactus{
                    a{
                        padding-left: 52px;
                        letter-spacing: 6px;
                        @media (max-width:1080px){
                            padding-left: 0;
                            letter-spacing: 3px;
                        }
                    }
                    &:before{
                        width: 40px;
                        @media (max-width:1080px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.contactus_frame{
    padding: 100px 0;
    position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;   
        flex-direction: row-reverse; 
        @media (max-width: 1200px){
            flex-direction: column; 
            padding-bottom: 0;
            margin-bottom: -5px;
        }
    .map{
        width: 50%;
        @media (max-width: 1200px){
            width: 100%;
            margin-top: 60px;
        }
        iframe{
            width: 100%;
            height: 960px;
        }
    }
    
    .content{
        width: 40%;
        margin-right: 5%;
        @media (max-width: 1200px){
            width: 70%;
            margin-top: -40px;
            margin-right: 0;
        }
        @media (max-width: 800px){
            width: 80%;
            margin-top: -10px;
        }
        .title{
            width: 1080px;
            float: right;
            text-align: right;
            text-transform: uppercase;
            font-family: $font-en;
            font-size: 160px;
            line-height: 1;
            white-space: nowrap;
            position: relative;
            z-index: 2;
            color: $primary-color;
            margin-top: -15px;
            @media (max-width: 1440px){
                width: 840px;
                font-size: 120px;
            }
            @media (max-width: 1200px){
                width: 100%;
                font-size: 120px;
                text-align: left;
            }
            @media (max-width: 1080px){
                width: 100%;
                font-size: 96px;
                text-align: left;
            }
            @media (max-width: 640px){
                font-size: 80px;
            }
            @media (max-width: 520px){
                font-size: 13vw;
                margin-top: 0;
            }
        }
        .clear{
            clear: both;
        }

        p{
            margin: 50px 0 50px;
            font-weight: 400;
        }
        .form{
            // background: #E7E7E7;
            overflow: hidden;
            // outline: 1px solid blue;
            .item{
                width: 100%;
                float: left;
                &.w50{
                    width: calc((100% - 20px) / 2);
                    @media (max-width: 800px){
                        width: 100%;
                    }
                }
                &.mr20{
                    margin-right: 20px;
                    @media (max-width: 800px){
                        margin-right: 0;
                    }
                }
                input, select, textarea{
                    width: 100%;
                    height: 52px;
                    margin-bottom: 16px;
                    font-size: 18px;
                    line-height: 160%;
                    font-family: $font-sans;
                    letter-spacing: 2px;
                }
                textarea{
                    width: 100%;
                    height: 120px;
                    resize: none;
                    display: block;
                }
                ::placeholder{
                    font-size: 18px;
                    line-height: 160%;
                    color: #231815;
                    font-weight: 400;
                    font-family: $font-sans;

                }
                input[type="checkbox"]{
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    padding: 0;
                    margin-right: 10px;
                    float: left;
                    // margin: 10px 0;
                    &:checked{
                        background-image: url(../img/check.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                .checktxt{
                    width: calc(100% - 40px);
                    // float: right;
                    font-family: $font-sans;
                    letter-spacing: 3px;

                    a{
                        display: inline-block;
                        font-size: 14px;
                        text-decoration: underline;
                    }
                }
                &.term{
                    width: calc(100% - 180px);
                    float: left;
                }

            }
            button{
                width: 180px;
                float: right;
                background: $primary-color;
                color: #fff;
                font-size: 28px;
                line-height: 160%;
                font-weight: 500;
                letter-spacing: 2px;
                display: block;
                &:hover{
                    cursor: pointer;
            
                }
            }
        }
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.select {
    width: 100%;
    height: 52px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    background: #fff;
    margin-bottom: 12px;
}
.select + .select{
    margin-left: 20px;
}
.select-styled {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // border-bottom: 1px solid #231815;
    padding: 0 16px;
    transition:all 0.2s ease-in;
    display: inline;
    // font-size: 20px;
    // line-height: 40px;
    font-weight: 500;
    // margin-bottom: 16px;
    font-size: 22px;
    line-height: 52px;
    &:after {
        content:"";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #231815 transparent transparent transparent;
        position: absolute;
        top: 24px;
        right: 10px;
    }
    &:active, &.active {
        &:after {
        top: 16px;
        border-color: transparent transparent #231815 transparent;
        }
    }
}

.select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    // background-color: darken(#fff, 5);
    li {
        margin: 0;
        padding: 12px 16px;
        font-size: 18px;
        background: rgba(35,24,21,0.8);
        // box-shadow: 0 2px 5px rgba(0,0,0,.4);
        transition:all 0.15s ease-in;
        color: #fff;
        &:hover, 
        &.is-selected {
        // color: #C9A063;
        // background: #fff;
        }
        &[rel="hide"] {
        display: none;
        }
    }
}

